services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    volumes:
       # Mount Vertex/Firestore service account key into the container
       - ./biome-134.json:/app/keys/biome-134.json:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
